<div class="col-xs-10 col-xs-offset-1 add-pad">
	<span class="label label-default">Title</span>
	<input ng-model="UpdateTaskCtrl.item.title" ng-change="UpdateTaskCtrl._onChange()" class="form-control" type="text" placeholder="Title"/>
	<br/>

	<span class="label label-primary top-pad">Description</span>
	<input ng-model="UpdateTaskCtrl.item.description" ng-change="UpdateTaskCtrl._onChange()" type="text" class="form-control" placeholder="Description"/>
	<br/>

	<span class="label label-success top-pad">Points</span>
	<input ng-model="UpdateTaskCtrl.item.points" ng-change="UpdateTaskCtrl._onChange()" type="text" class="form-control" placeholder="Points"/>
	<br/>

	<span class="label label-info top-pad">Story type</span>
	<input ng-model="UpdateTaskCtrl.item.storyType" ng-change="UpdateTaskCtrl._onChange()" type="text" class="form-control" placeholder="Story Type"/>
	<br/>

	<span class="label label-warning top-pad">Assignee</span>
	<input ng-model="UpdateTaskCtrl.item.asigneee" ng-change="UpdateTaskCtrl._onChange()" type="text" class="form-control" placeholder="Asigneee"/>
	<br/>

	<span class="label label-danger top-pad">Status</span>
	<input ng-model="UpdateTaskCtrl.item.status" ng-change="UpdateTaskCtrl._onChange()" type="text" class="form-control" placeholder="Status"/>
	<br/>

	<button type="button" class="btn btn-danger">
		<a style="color:white" ng-href="/home/board">
				Back 
		</a>
	</button>
	
	<button ng-show="UpdateTaskCtrl.isChanged" type="button" class="btn btn-success" ng-click="UpdateTaskCtrl.saveStory()">
		<a style="color:white">
				Update story 
		</a>
	</button>
</div>
