<nav class = "navbar navbar-default" role = "navigation">   
   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Board</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
        
      <a class = "navbar-brand" href = "/home/board">Agile board</a>
   </div>
   
   <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
    
      <ul class = "nav navbar-nav">
         <li><a href = "/home/information">Information</a></li>
         <li><a href = "/about">About</a></li>
         <li><a href = "/auth">Log in</a></li>               
      </ul>
   </div>       
</nav>