<div class="panel panel-info">
 	<div class="panel-heading">Closed stories</div>
 	<div class="panel-body">
		<ul ng-show="BacklogCtrl.backlog.length > 0" class="list-group" ng-repeat="task in BacklogCtrl.backlog">
			<li class="list-group-item  list-group-item-info">
	    		Title: {{task.title}}<br/>
	    		Description: {{task.description}}<br/>
	    		<button type="button" class="btn btn-warning" ng-click="BacklogCtrl.toSprint(task)">Add to sprint</button>
			</li>
		</ul>
		<div ng-show="BacklogCtrl.backlog.length === 0">
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				There is no closed issues
			</div>
		</div>
		<br/>
	    <button type="button" class="btn btn-primary full-width">
			<a style="color:white" ng-href="/home/board">
	    		Return back to agile board
	    	</a>
	    </button>
	</div>
</div>